{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<h1>{{ name | upper }}</h1>
<h1>{{ page_url | urlize }}</h1>
<p>BMI: {{ bmi | floatformat:2 }}</p>
<p>Salary: {{ salary | default:"none" }}</p>

<p>{{ favorite_fruit | random | lower}}</p>
<p>{{ favorite_fruit | join:', ' }}</p>

<p>{{ message1 | linebreaks}}</p>
<p>{{ message2 | truncatechars:7 }}</p>

{% filter upper %}
<p>aaa</p>
<h1>bbb</h1>
{% endfilter %}

<a href="{% url "template_app:home" first_name="Bob" last_name="Mary" %}">home</a>
<img src="{% static "sample.jpg" %}">