{% extends 'form_app/base.html' %}

{% block title %}
Students List
{% endblock title %}

{% block content %}
<table>
    <tr>
        <th>Name: </th>
        <th>Age: </th>
        <th>Grade: </th>
    </tr>
    {% for student in students %}
        <tr>
            <td><a href="{% url 'form_app:update_student' id=student.id %}"></a>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.grade }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
