<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.errors %}
                {% for key, values in form.errors.items %}
                    {% if != "__all__" %}
                        <p>{{ key }}: {{ values.as_text }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <table>
                {{ form.name.label }}: {{ form.name }}
                {% if form.name.errors %}
                    <div style="color:red;">{{ form.name.errors.as_text }}</div>
                {% endif %}
                {{ form.title.label }}: {{ form.title }}
                {% if form.title.errors %}
                    <div style="color:red;">{{ form.title.errors.as_text }}</div>
                {% endif %}
                <br>
                {{ form.memo.label }}: {{ form.memo }}
                {% if form.memo.errors %}
                    <div style="color:red;">{{ form.memo.errors.as_text }}</div>
                {% endif %}
            </table>
            <input type="Submit" value="send">
        </form>
    </body>
</html>