<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.name.label }}: {{ form.name }}
                {% if form.name.errors %}
                    <div style="color:red;">{{ form.name.errors }}</div>
                {% endif %}
            </table>
            <input type="Submit" value="send">
        </form>
    </body>
</html>